{{template "header" .}}
    <div class="container container-404 text-center d-flex align-items-center">
        <div class="data">
            <h1>404</h1>
            <h2>Page Not Found!</h2>
            <p>The page you are looking for was moved, removed, renamed or never existed.  Please check the url or go to <a href="/">Main Page.</a></p>
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn"><img src="/assets/images/search-icon.svg" alt="" class="img-fluid svg"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{template "footer" .}}