{{template "header" .}}
    <!-- Page title -->
    <div class="page-title">
        <div class="container">
            <h2>关于</h2>
            <ul class="nav">
                <li><a href="/">主页</a></li>
                <li>我</li>
            </ul>
        </div>
    </div>
    <!-- End of Page title -->

    <div class="container pt-120 pb-90">
        <div class="row">
            <div class="col-md-12">
                <div class="page-thumb" style="text-align: center">
                    <img src="/assets/images/blog/about.jpg" alt="" class="img-fluid" width="200px">
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="page-text">
                        <div class="page-primary-text pb-60">
                            <div class="page-para-title h2">Alex Garry</div>
                            <p>hello</p>
                        </div>

                        <div class="page-primary-text pb-40">
                            <div class="page-para-title h3">My Hobby</div>
                            <p>world!</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{{template "footer" .}}