{{block "footer" .}}
    <!-- Footer -->
    <footer class="footer-container d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center footer">
                <div class="col-md-4 text-center text-md-left order-md-1 order-2">
                    <div class="footer-social">
                        今日访客量：{{ .TodayViews }}
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center order-md-2 order-1">
                    <a href="javascript:void(0);"><img src="/assets/images/logo.png" alt="" class="img-fluid"></a>
                </div>
                <div class="col-md-4 order-md-3 order-3">
                    <div class="footer-cradit text-center text-md-right">
                        <p>© 2020 <a href="http://www.beian.miit.gov.cn/" target="_blank">晋ICP备19010640号</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Back to Top Button -->
    <div class="back-to-top d-flex align-items-center justify-content-center">
        <span><i class="fa fa-long-arrow-up"></i></span>
    </div>
    <!-- End of Back to Top Button -->

    <!-- JS Files -->

    <!-- ==== Bootstrap js file ==== -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- ==== Script js file ==== -->
    <script src="/assets/js/scripts.js"></script>

    <!-- ==== Custom js file ==== -->
    <script src="/assets/js/custom.js"></script>
    </body>
    </html>
{{end}}